.route__title {
  margin: 0 0 32px;
  max-width: 720px; /*Так как заголовок занимает не всю доступную ширину*/

  font-size: 96px;
  line-height: 104%;
  font-weight: 900;
  text-align: center;
}

@media (max-width: 767.98px) {
  .route__title {
    margin-bottom: 16px;

    font-size: 12.5vw;
    line-height: 107%;
  }
}

@media (max-width: 320px) {
  .route__title {
    font-size: 40px;
    line-height: 110%;
  }
}
