.header {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 56px;
}

@media (max-width: 1024px) {
  .header {
    padding-bottom: 48px;
  }
}

@media (max-width: 425px) {
  .header {
    padding-top: 16px;
  }
}
