.trains {
  position: relative;
  display: grid;
  max-width: 1184px;
  min-height: 740px;
  background: url('../../images/trains-image.jpg') no-repeat center / cover;
}

@media (max-width: 1024px) {
  .trains {
    min-height: 640px;
  }
}

@media (max-width: 768px) {
  .trains {
    min-height: 480px;
  }
}

@media (max-width: 528px) {
  .trains {
    min-height: 330px;
  }
}

@media (max-width: 424px) {
  .trains {
    min-height: 265px;
    background: url('../../images/trains-image-320.jpg') no-repeat center / cover;
  }
}

@media (max-width: 320px) {
  .trains {
    min-height: 200px;
  }
}
