.footer {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  justify-content: space-between;
  padding-top: 92px;
  padding-bottom: 24px;
}

@media (max-width: 825px) {
  .footer {
    padding-top: 88px;
  }
}

/* Мои стили */
@media (max-width: 725px) {
  .footer {
    flex-direction: column;
    padding-top: 72px;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .footer {
    align-items: flex-start;
    padding-top: 64px;
    gap: 48px;
  }
}
