.card__title {
  margin: 0;

  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
}

@media (max-width: 840px) {
  .card__title {
    font-size: 60px;
    line-height: 1.08;
  }
}

@media (max-width: 768px) {
  .card__title {
    font-size: 42px;
    line-height: 1.1;
  }
}

@media (max-width: 640px) {
  .card__title {
    padding: 0 16px;
  }
}

@media (max-width: 500px) {
  .card__title {
    font-size: 32px;
    line-height: 1.09;
  }
}
