.trains__title {
  margin: 0 0 32px 0;
  max-width: 560px;

  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
}

@media (max-width: 700px) {
  .trains__title {
    font-size: 60px;
    line-height: 106%;
  }
}

@media (max-width: 560px) {
  .trains__title {
    max-width: 425px;

    font-size: 46px;
    line-height: 108%;
  }
}

@media (max-width: 500px) {
  .trains__title {
    max-width: 288px;
    margin-bottom: 16px;

    font-size: 32px;
    line-height: 109%;
  }
}
