.trains__image {
  grid-row: 1/-1;
  grid-column: 1/-1;
  width: 100%;
  padding-bottom: 62.5%;
  background: url('../../../images/trains-image.jpg') no-repeat center / contain;
}

@media (max-width: 425px) {
  .trains__image {
    background: url('../../../images/320/trains-image-320.jpg') no-repeat center / contain;
  }
}
